@import "/src/styles/variables";
@import "/src/styles/mixins";

.product {
  position: relative;
  background: #ffffff;
  padding: 25px;

  &:hover {
    .action {
      visibility: visible;
      opacity: 1;
    }
  }
}

.image {
  width: 100%;
  height: 175px;
  object-fit: contain;
}

.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.36px;
  color: $cl-txt-primary;

  height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.category {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 15px 0 8px;
}

.box, .rate {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
}

.box {
  justify-content: space-between;
  margin-top: 15px;
}

.rate {
  svg, span {
    display: block;
  }

  svg {
    width: 12px;
    margin-right: 5px;
    fill: $cl-yellow;
  }
}

.price {
  text-align: right;
}

.action {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background: rgba(#3a3a3a, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: $duration;

  > * {
    margin: 8px 0;
  }
}

.actionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    height: 20px;
  }
}

.btnShare {
  svg {
    fill: #fff;
  }

  &:hover svg {
    fill: #000;
  }
}

.btnLike {
  svg path {
    stroke: #fff;
  }

  &:hover svg path {
    stroke: $cl-red;
  }

  &:active svg path {
    stroke: $cl-red;
    fill: $cl-red;
  }
}