@import "/src/styles/variables";
@import "/src/styles/mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #eeeeee;
  color: $cl-txt-default;
  font-size: 16px;
}

section {
  margin: 80px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
}

button, a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: $cl-txt-primary;
  font-weight: 700;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 32px;
}

input {
  width: 100%;
  padding: 0;
  border: 0;
  outline: none;

  ::-webkit-input-placeholder {
    color: $cl-txt-default-light;
  }

  :-moz-placeholder {
    color: $cl-txt-default-light;
  }

  ::-moz-placeholder {
    color: $cl-txt-default-light;
  }

  :-ms-input-placeholder {
    color: $cl-txt-default-light;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn {
  @extend %flex-element-center;
  height: 44px;
  border-radius: 44px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 25px;
  transition: all $duration;

  @include button-bg($cl-primary);

  svg {
    margin-right: 8px;
  }
}

.btnEmphasize {
  @include button-bg($cl-green);
}

.btnTransparent {
  @include button-bg(transparent);
}

