@mixin button-bg($bg, $txt-color: #ffffff) {
  background: $bg;
  color: $txt-color;

  &:hover {
    background: darken($bg, 8%);
  }

  &:active {
    background: darken($bg, 25%);
  }

  @if $bg == transparent {
    &:hover {
      background: #fff;
      color: #000;
    }
  }

  @if $bg == #fff {
    svg {
      fill: $cl-primary;
    }

    &:hover {
      background: $cl-primary;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}