// Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;


// Color
$cl-primary: #3d5675;

$cl-txt-primary: #011f3a;
$cl-txt-default: #777777;
$cl-txt-default-light: #a1a1a1;

$cl-yellow: #f2ae4d;
$cl-green: #72bda3;
$cl-red: #f24d4d;


// Animation duration
$duration: 0.3s;