@import "/src/styles/variables";
@import "/src/styles/mixins";

.productList .btn {
  margin: 40px auto 0;

  @media (max-width: $lg) {
    margin: 30px auto 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  // fix bug grid chrome
  overflow: hidden;
  overflow: hidden;

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 -20px;
  }
}