@import "/src/styles/variables";
@import "/src/styles/mixins";

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  z-index: 9;
  transition: box-shadow $duration;
}

.headerScroll {
  box-shadow: 0 0 20px rgba(#000, 0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  @extend %flex-element-center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: $cl-txt-primary;

  svg {
    height: 30px;
    fill: $cl-yellow;
    margin-right: 10px;
  }
}