@import "/src/styles/variables";
@import "/src/styles/mixins";

.category {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;

  button {
    svg {
      color: $cl-primary;
      width: 12px;
    }
  }
}