@import "/src/styles/variables";
@import "/src/styles/mixins";

.search {
  position: relative;

}

.boxInput {
  @extend %flex-element-center;
  width: 100%;
  height: 42px;
  background: #fff;
  padding: 0 18px;
  border-radius: 42px;

  svg {
    height: 18px;
    fill: $cl-primary;
  }

  input {
    height: 100%;
    font-size: 16px;
    line-height: 18px;
    color: $cl-primary;
    padding: 0 18px;
  }
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 42px;
}